.titulo {
  text-align: center;
}

.contenedor {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.contenedorImagenes {
  display: flex;
  animation: carrusel 40s linear infinite;
  width: calc(250px * 24);

  gap: 1em;
}

.imagenes {
  width: 250px;
  position: relative;
}


img{
  width: 100%;
  height: auto;
}
.promo1 {
  position: absolute;
  max-width: 25%;
  top: 10px;
  left: 20px;
}

.promo2 {
  position: absolute;
  max-width: 25%;
  top: 10px;
  left: 20px;
}
.promo1:hover {
  scale: 1.2;
}
.promo2:hover {
  scale: 1.2;
}

.titulo h2 {
  font-size: 2em;
  margin-bottom: 0;
}

.titulo p {
  color: var(--color-control-1);
  font-size: 1.5em;
  text-shadow: 0px 0px 4px var(--color-fondo-8);
}


@keyframes carrusel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 8.5));
  }
}

@media only screen and (max-device-width: 768px) {
  .contenedor .imagenes {
    width: 200px;
  }
}
