
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    background-image: url("/src/img/imag-farm.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
      }