footer {
    /* width: auto; */
    text-align: center;
    color: hwb(0 92% 8%);
}

.social-icons {
    padding: 1rem;
}
.social-icons small,
.social-icons i {
    padding: 0.25rem;
    padding-top: 0.5rem;
    color: hwb(0 92% 8%);
}