

main form h2 {
    text-align: center;
    color: #666;
}

main form {
    font-style: italic;
    background-color: url("//src/img/logoCompleto.jpg") ;
    padding: 2.px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 55px #fff2;
    /* margin-top: 50px; */
    /* border-radius: 10px; */
    font-size: 16px;
}

main form {
    padding: 1.5rem;
    background-color: var(--background-color-1);
    border-radius: 1rem;
}

main input, 
main textarea, 
main select {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: none;
    border: 1px solid#666;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: var(--color-control);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    /* color: #ab1515; */
}

/* option {
    background-color: #333;
} */

main textarea {
    min-width: 100%;
    resize: none;
    min-height: 102px;
    font-family: sans-serif;
    form-sizing: content
}

main label {
    font-size: 0.9em;
    line-height: 2.1;
}

main .checkbox {
    width: 1rem;
    height: 1rem;
}




