
.logo {
    float: left;
}

.logo img {
    width: 100px;
    height: auto;
    display: block;
    border-radius: 10%;
}


header .search-form {
    text-align: center;
    margin-top: 10px;
  
}

header .search-form button {
    padding: 6px 20px; 
    font-size: 14px; 
    margin-left: 20px; 
    margin-right: 10px;
    border-radius: 5px;
}


nav {
    float: right; 
    position: relative;
    bottom: 0;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

nav ul li {
    display: inline-block;
    margin-left: 10px; 
}

nav ul li:first-child {
    margin-left: 0; 
}

nav ul li a {
    line-height: 1.4;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 8px;
}

