@import "header.css";
@import "body.css";
@import "footer.css";
@import "form.css";
@import url(main.css);

/* 
body{
    margin: 0;
    padding: 0;
    height: 100svh;
} 
*/

/* 
.container-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas:
        ". h h"
        "m m ."
        "f f f"
        ;
} 
*/

/*
header{
    grid-area: h;
    border: 1px solid black;
    height: 10%;
}

main{
    grid-area: m;
    border: 1px solid black;
    height: 80%;
}

footer{
    grid-area: f;
    border: 1px solid black;
    height: 10%;
} 
*/

/* 
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
*/
@keyframes miAnimacion {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.2); opacity: 0.8; }
    100% { transform: scale(1); opacity: 1; }
}

.logo{
    animation-name: miAnimacion;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}