@import "header.css";
@import "body.css";
@import "footer.css";
@import "form.css";
@import url(main.css);
@import url(mapa.css);

:root {
    --color-primario: #007bff; /* Azul */
    --color-secundario: #6c757d; /* Gris */
    --color-fondo: #f8f9fa; /* Gris claro */
    --color-texto: #000800;
    --color-fondo-1: #007298;
    --color-fondo-2: #009897;
    --color-fondo-3: #009871;
    --color-fondo-4: #00984b;
    --color-fondo-5: #009825;
    --color-fondo-6: #019800; /* Color de la cruz verde */
    --color-fondo-7: #000098;
    --color-fondo-8: #4c4c4c;
    --color-fondo-9: rgba(0, 152, 114, 0.5);
    --color-control: #eaffea;
    --background-color-1: hwb(180 0% 40% / 0.65);
    --background-color-2: hsla(240, 100%, 30%, 0.80);
    --background-color-3: hwb(180 0% 40% / 0.65);
    --background-color-4: hwb(180 0% 70% / 0.9);
    --background-main: hwb(0 100% 0% / 0.25);
  }

header {
    background-color: var(--background-color-1);
}

footer {
    background-color: var(--background-color-4);
}

@keyframes miAnimacion {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.2); opacity: 0.8; }
    100% { transform: scale(1); opacity: 1; }
}

.logo{
    animation-name: miAnimacion;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

